.DS_Store
.env
.env.*
!.env.example

node_modules/
apps/**/node_modules/

dist/
apps/**/dist/
apps/miniapp/.swc/

.trae-html-share-packages/
entry-pass.html

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
